*{
    margin-top: 0%;

}
.container{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box ;
}
.container img{
    width: 100%;
}
h1{
    color: #61f188;
    font-weight: normal;
    text-align: center;
    margin-top: 10px;
}


.navbar{
    background-color:#1dce4f;
    height: 70px;
    overflow: hidden;
    margin: auto;
}
.active{
    background:#89e4a2;
    padding:27px;
    width: 150px;
    padding-left: 350px;
    padding-right: 50px;


}
.navbar ul li .active{
     margin-left: -90%;
}
.navbar ul li{

    padding:27px;
    display: inline-block;
    list-style-type: none;
}
.navbar ul li a{
    margin-left: -70px;
    padding:27px;

    color: #ffffff;
    text-decoration: none;
}

.area{
    width: 100%;
    color: black;
    margin-top: 20px;
    align-items: center;
}
.left-course{
    border: 2px solid white;
    float: right;
    width: 55%;
}
.text{
    float: left;
    width: 60%;
    overflow: hidden;
}

.text ul li{
    border-bottom: 1px solid rgb(105, 105, 105);
    list-style-type: none;
    width: 45%;
    padding: 5px;
    padding-left: 10px;
    text-align:left;
    background-color: #89e4a2;
}
.text ul li a{
    text-decoration: none;
    color: black;
}
.left{
    width: 40%;
    float: left;
    margin-left: -25%;
}

.left p{
    font-weight: bold;
    font-size: 1rem;

}
